body {
	background:url("back.jpg");
}

.wrapper {
	width:816px;
	margin:0 auto;
}

.gametitle {
	float:right;
	color:#72d9ec;
	font-family:Tahoma;
	font-weight:600;
}

.gamestat {
	font-family:Tahoma;

	width:270px;
	opacity:0.8;
	float:left;
	margin:1px;
	background-color:rgba(45, 45, 45, .5);;
	background-image:none;
	color:white;
	font-size:18pt;
	padding:15px;
	text-align:center;

	border:5px solid rgba(45, 45, 45, .3);
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    height:70px;

}

.separator {
	clear:both;
	height:10px;
}

.cell {
	cursor:pointer;
	opacity:0.5;
	width:96px;
	height:96px;
	float:left;
	margin:1px;
	background-color:#2d2d2d;
	background-image:none;
}


#gamestart {

	text-decoration:underline;
	cursor:pointer

}

.nextline {
	clear:both;
}

#gamefield {
	font-family:Tahoma;
	color:white;font-size:18pt;padding:15px;
	display: table;
	margin:0 auto;
}

.container {
	background:rgba(45, 45, 45, .3);
	width:100%;
}